select{
    border-radius: 28px;
    width: 25vh;
    height: 5vh;

    font: normal normal normal 18px/23px Segoe UI;
    letter-spacing: 0px;
    margin-left: 1vw;
}

#wielkosc{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 28px;
    width: 11vw;
    height: 2vh;
    font: normal normal normal 18px/23px Segoe UI;
}

#przelicz{
    background: #5A4E4E;
    width: 13vw;
    height: 7vh;
    font: normal normal normal 28px/33px Segoe UI;
}

.right_content{
    width: 20vw;
    height: 20vh;
    background: #5A4E4E;
    position: absolute;
    text-align: center;
    margin-left: 30vw;
    margin-top: -50vh;
    border-radius: 28px;
}