section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
    font: normal normal normal 14px/24px Arial;
}

.people>div>img{
    height:80%;
    width:80%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.people>div>div{
    height: 50%;
    font: normal normal normal 14px/24px Arial;
    letter-spacing: 0px;
    color: #8C959C;
    margin: 1em;
}

.social-section{
    color: white;

}