body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background: transparent url('../img/tlo.svg') 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;



}

.logo{
    width: 50%;
    text-align: left;
}



.login_container{
    width: 50%;
    
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 30vh;

    margin-top: 15%;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 49px;
}

button{
    background: #4E5FF3 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 40px;

    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

.main_content{
    background: #6B5B5B 0% 0% no-repeat padding-box;
    position: absolute;
    margin: 10%;
    margin-top: 8%;
    width: 80%;
    height: 80%;
}

@media only screen and(max-device-width: 420px){
    .container{
        flex-direction: column;
    }
    *{
        font-size: 36px;
    }

    .login_container, .logo{
        width: 100%;
    }
    form{
        margin: auto;
    }
}

.menu{
    width: 15vw;
    height: 100%;
    background: #5A4E4E 0% 0% no-repeat padding-box;
    position: absolute;

}

nav{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li i {
    font-size: 1.5em;
    margin: 0.3em;
}

.button{
    border: 1px solid #707070;
    border-radius: 0.5em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    width: 60%;

}

ul{
    list-style-type: none;
    color: white;
    font: normal normal normal 20px/33px Segoe UI;

}

.content{
    margin-left: 18em;;
    position: relative;
    width: calc(100% - 18em);
    color: white;
    font: normal normal normal 22px/53px Segoe UI;
}

